* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    line-height: 130%;
}
textarea {
    display: block;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: #ccc solid 1px;
    background: #ccc;
    box-shadow: #ccc inset 0 0 100px 100px;
}
textarea.text_source {
    height: 200px;
    
    margin-bottom: 15px;
    border: black solid 1px;
    background: #fff;
}
textarea.text_build {
    height: 200px;
    margin-bottom: 15px;
    border: black solid 1px;
}
main {
    display: flex;
    width: 720px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: black 0 0 10px;
    border-radius: 15px;
}
section {
    display: block;
    width: 50%;
    padding: 0 20px 20px;
}
section > p {
    display: block;
    width: 100%;
    margin: 10px;
}
h3 {
    display: block;
    margin: 10px;
    font-size: 18px;
}